<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
         http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!--  
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/cmos" />
	</bean> -->
	
	<!-- 数据源定义,使用Apache DBCP 连接池 -->
	<bean id ="dataSource" name="default_ds" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="initialSize" value="${jdbc.initialSize}"/>
		<property name="maxActive" value="${jdbc.maxActive}"/>
		<property name="maxIdle" value="${jdbc.maxIdle}"/>
		<property name="minIdle" value="${jdbc.minIdle}"/>
		<property name="validationQuery" value="${jdbc.validationQuery}"/>
	</bean>
	
	
	
	

	<!-- MyBatis -->
	<!-- SQLSessionFacotry -->
	<bean id="MyBatisSpringTransactionFactory" class="org.mybatis.spring.transaction.SpringManagedTransactionFactory" />
	<bean id="sqlSessionFacotry" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:/config/mybatis-config.xml" />
		<property name="mapperLocations" value="classpath:mappers/*/**.xml" />
		<property name="dataSource" ref="dataSource"/>
		<property name="transactionFactory" ref="MyBatisSpringTransactionFactory" />
	</bean>
	<!-- MybatisScanner -->
	<!--<bean id="sqlSessionFactoryScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">-->
		<!--<property name="sqlSessionFactoryBeanName" value="sqlSessionFacotry" />-->
		<!--<property name="basePackage" value="com.cmos.mma.dao"/>-->
		<!--<property name="markerInterface" value="com.cmos.cmos.auth.domain.BaseDAO"/>-->
	<!--</bean>-->
			
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
</beans>